In [2]:
# Dependencies and Setup
import pandas as pd
import numpy as np

In [3]:
# File to Load (Remember to Change These)
file_to_load = "C:\\Users\\USER\\Desktop\\pandas-challenge\\Resources HerosOfPymoli\\04-Pandas_Homework_Instructions_HeroesOfPymoli_Resources_purchase_data.csv"

In [4]:
# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

# Player Count

In [5]:
# Count total Number of Players, create summary DF 
#PURCHASE_DATA IS ALREDY A DF B/C IT READ IN AS ONE
player_count=purchase_data["SN"].nunique()
player_count_df = pd.DataFrame({"Player Count" : [player_count]})
player_count_df
player_count_df.style.hide_index()

# Purchasing Analysis (Total)

In [6]:
#Purchasing Analysis (Total): Num Unique Items, Avg Purchase Price, Total # Purchases, Total Revenue
pat_numunique=purchase_data["Item ID"].nunique()
pat_avgpurch=purchase_data["Price"].mean()
pat_totalnumpurch=purchase_data["Purchase ID"].count()
pat_totalrev=purchase_data["Price"].sum()
pat_summary_df = pd.DataFrame({"Num. Unique Items" : [pat_numunique],
                           "Avg. Purchase Price" : [pat_avgpurch], 
                           "Total Num. Purchases" : [pat_totalnumpurch],
                           "Total Revenue" : [pat_totalrev]})

pat_summary_df["Avg. Purchase Price"]=pat_summary_df["Avg. Purchase Price"].map("${:,.2f}".format)
pat_summary_df["Total Revenue"]=pat_summary_df["Total Revenue"].map("${:,.2f}".format)
pat_summary_df
pat_summary_df.style.hide_index()

# Gender Demographics

In [7]:
#Gender Demos: % and count by gender
gd_gender=purchase_data.groupby("Gender")
gd_gender_count=gd_gender["SN"].nunique()
gd_pct_players=gd_gender_count/player_count *100
gd_summary_df = pd.DataFrame({"Total Count" : gd_gender_count, 
                             "Perct. Players" : gd_pct_players})
gd_summary_df.index.name = None
gd_summary_df["Perct. Players"]=gd_summary_df["Perct. Players"].map("{:.2f}%".format)
gd_summary_df.sort_values(["Total Count"], ascending = False)

                       Total Count Perct. Players
Male                           484         84.03%
Female                          81         14.06%
Other / Non-Disclosed           11          1.91%

# Purchasing Analysis (Gender)

In [8]:
#Purchasing Analysis (Gender): Purcahse count, Avg Purch Price, Total Purch Value, Avg. total per person 
pag_purchase_count = gd_gender["Purchase ID"].count()
pag_avgpurch = gd_gender["Price"].mean()
pag_totalrev=gd_gender["Price"].sum()
pag_avgtotal=pag_totalrev/gd_gender_count
pag_summary_df = pd.DataFrame({"Purchase Count" : pag_purchase_count, 
                              "Avg. Purchase Price" : pag_avgpurch, 
                              "Total Purchase Value" : pag_totalrev, 
                              "Avg. Total Purchase Per Person" : pag_avgtotal})

pag_summary_df["Avg. Purchase Price"]=pag_summary_df["Avg. Purchase Price"].map("${:,.2f}".format)
pag_summary_df["Total Purchase Value"]=pag_summary_df["Total Purchase Value"].map("${:,.2f}".format)
pag_summary_df["Avg. Total Purchase Per Person"]=pag_summary_df["Avg. Total Purchase Per Person"].map("${:,.2f}".format)
pag_summary_df.sort_values(by="Purchase Count", ascending = False)

,Purchase Count,Avg. Purchase Price,Total Purchase Value,Avg. Total Purchase Per Person
Male,652,$3.02,"$1,967.64",$4.07
Female,113,$3.20,$361.94,$4.47
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

# Age Demographics

In [9]:
#Age Demographics: create bins, # and % by age group
age_bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 45]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
purchase_data["Age Group"]=pd.cut(purchase_data["Age"], age_bins, labels=group_names)
purchase_data
#THIS IS NEW DF
agegroup_count=purchase_data.groupby("Age Group") 
agegroup_total=agegroup_count["SN"].nunique()
agegroup_perct = (agegroup_total/player_count) *100
agegroup_perct_df=pd.DataFrame({"Total Count" : agegroup_total , 
                               "Percentage of Players" : agegroup_perct})
agegroup_perct_df["Percentage of Players"]=agegroup_perct_df["Percentage of Players"].map("{:.2f}%".format)
agegroup_perct_df

           Total Count Percentage of Players
Age Group
<10                 17                 2.95%
10-14               22                 3.82%
15-19              107                18.58%
20-24              258                44.79%
25-29               77                13.37%
30-34               52                 9.03%
35-39               31                 5.38%
40+                 12                 2.08%

# Purchasing Analysis: Age

In [10]:
#By age group: Purchase Count, Avg Purchase Price, Total Purchase Value, Avg Purchase Total per Person by Age Group 
paa_purchase_count = agegroup_count["Purchase ID"].count()
paa_avgpurch = agegroup_count["Price"].mean()
paa_totalrev=agegroup_count["Price"].sum()
paa_avgtotal=paa_totalrev/agegroup_total

paa_summary_df = pd.DataFrame({"Purchase Count" : paa_purchase_count, 
                              "Avg. Purchase Price" : paa_avgpurch, 
                              "Total Purchase Value" : paa_totalrev, 
                              "Avg. Total Purchase Per Person" : paa_avgtotal})

paa_summary_df["Avg. Purchase Price"]=paa_summary_df["Avg. Purchase Price"].map("${:,.2f}".format)
paa_summary_df["Total Purchase Value"]=paa_summary_df["Total Purchase Value"].map("${:,.2f}".format)
paa_summary_df["Avg. Total Purchase Per Person"]=paa_summary_df["Avg. Total Purchase Per Person"].map("${:,.2f}".format)
paa_summary_df.sort_values(by="Age Group", ascending = True)

,Purchase Count,Avg. Purchase Price,Total Purchase Value,Avg. Total Purchase Per Person
Age Group,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

# Top Spenders

In [17]:
#Top Spenders: Identify top 5, then list: Purch Count, Avg Purch Price, Total Purch Value
ts_data=purchase_data.groupby("SN")
ts_purchase_count_id = ts_data["Purchase ID"].count()
ts_avgpurch = ts_data["Price"].mean()
ts_totalrev=ts_data["Price"].sum()

ts_summary_df = pd.DataFrame({"Purchase Count" : ts_purchase_count_id, 
                              "Avg. Purchase Price" : ts_avgpurch, 
                              "Total Purchase Value" : ts_totalrev})
ts_summary_df
#ts_summary_df["Total Purchase Value"] = pd.to_numeric(ts_summary_df["Total Purchase Value"],errors='coerce')
ts_summary_df["Avg. Purchase Price"]=ts_summary_df["Avg. Purchase Price"].map("${:,.2f}".format)
#ts_summary_df["Total Purchase Value"]=ts_summary_df["Total Purchase Value"].map("${:,.2f}".format) #THIS TURNS TOTAL PURCH VAL INTO OBJECT
#print(ts_summary_df.dtypes)
#ts_summary_df.nlargest(5,["Total Purchase Value"]) DO NOT DO THIS - IT MAKES ASSIGNING THE $ IMPOSSIBLE 
ts_summary_df = ts_summary_df.sort_values("Total Purchase Value" , ascending = False)
ts_summary_df["Total Purchase Value"]=ts_summary_df["Total Purchase Value"].map("${:,.2f}".format)
ts_summary_df.head()

             Purchase Count Avg. Purchase Price Total Purchase Value
SN
Lisosia93                 5               $3.79               $18.96
Idastidru52               4               $3.86               $15.45
Chamjask73                3               $4.61               $13.83
Iral74                    4               $3.40               $13.62
Iskadarya95               3               $4.37               $13.10

# Most Popular Items

In [18]:
#Most Pop Items BY PURCH COUNT: Item ID, Name, Purch Count, Item Price, Total Purch Value
mp_items = purchase_data[["Price", "Item ID", "Item Name"]]

#DO NOT GROUPBY PRICE IT MESSES IT UP 
mp_data=mp_items.groupby(["Item ID", "Item Name"])

#PURCHASE COUNT 
mp_purchase_count = mp_data["Item Name"].count() 

#TOTAL PURCHASE VALUE 
mp_purchvalue=mp_data ["Price"].sum()

#ITEM PRICE
mp_item_price = (mp_purchvalue/mp_purchase_count)

mp_summary_df = pd.DataFrame({"Purchase Count" : mp_purchase_count,
                              "Item Price" : mp_item_price,
                             "Total Purchase Value" : mp_purchvalue})

mp_summary_df
mp_summary_df["Total Purchase Value"]=mp_summary_df["Total Purchase Value"].map("${:,.2f}".format)
mp_summary_df["Item Price"]=mp_summary_df["Item Price"].map("${:,.2f}".format)                        
mp_summary_df.nlargest(5, ['Purchase Count'])
###MINE APPEAR TO BE RIGHT AND SORTED BY PURCH COUNT AND THEN VALUE#######

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
132,Persuasion,9,$3.22,$28.99

 # Most Profitable Items

In [19]:
#Most Profitable Items by TOTAL PURCHASE VALUE: Item ID, Item Name, Purch Count, Item Price, Total Purch Value

maxp_items = purchase_data[["Price", "Item ID", "Item Name"]]

#DO NOT GROUPBY PRICE IT MESSES IT UP 
maxp_data=maxp_items.groupby(["Item ID", "Item Name"])

#PURCHASE COUNT 
maxp_purchase_count = maxp_data["Item Name"].count() 

#TOTAL PURCHASE VALUE 
maxp_purchvalue=maxp_data ["Price"].sum()

#ITEM PRICE
maxp_item_price = (maxp_purchvalue/maxp_purchase_count)

maxp_summary_df = pd.DataFrame({"Purchase Count" : maxp_purchase_count,
                              "Item Price" : maxp_item_price,
                             "Total Purchase Value" : maxp_purchvalue})

maxp_summary_df
maxp_summary_df["Total Purchase Value"] = pd.to_numeric(maxp_summary_df["Total Purchase Value"],errors='coerce')

#SOMEHOW THIS TURNS TOTAL PURCH VALUE FROM A FLOAT INTO A STRING AND YOU DO NOT NEED IT
#maxp_summary_df["Total Purchase Value"]=maxp_summary_df["Total Purchase Value"].map("${:,.2f}".format)

maxp_summary_df["Item Price"]=maxp_summary_df["Item Price"].map("${:,.2f}".format)                        

#maxp_summary_df.nlargest(5, ['Total Purchase Value']) DO NOT DO - IT MAKES ASSIGNING THE $ NEARLY IMPOSSIBLE


maxp_summary_df = maxp_summary_df.sort_values("Total Purchase Value" , ascending = False)
maxp_summary_df["Total Purchase Value"]=maxp_summary_df["Total Purchase Value"].map("${:,.2f}".format)
maxp_summary_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80