In [15]:
# Dependencies and Setup
import pandas as pd

In [16]:
# File to Load (Remember to Change These)
file_to_load = "C:\\Users\\USER\\Desktop\\pandas-challenge\\Resources HerosOfPymoli\\04-Pandas_Homework_Instructions_HeroesOfPymoli_Resources_purchase_data.csv"

In [17]:
# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

# Player Count

In [20]:
# Count total Number of Players should be 780
#Create summary DF 
#purchase_data = pd.DataFrame DON'T DO THIS TWICE
#YOU HAVE TO DO BELOW STEP EVERY TIME
player_count=purchase_data["SN"].nunique()
player_count_df = pd.DataFrame({"Player Count" : [player_count]})
player_count_df

   Player Count
0           576

# Purchasing Analysis (Total)

In [44]:
#Purchasing Analysis (Total): 
#Number of Unique Items should be 179
#Average Purchase Price should be 3.05
#Total Number of Purchases should be 780
#Total Revenue should be 2379.77
#Create summary DF 
pat_numunique=purchase_data["Item ID"].nunique()
pat_avgpurch=purchase_data["Price"].mean()
pat_totalnumpurch=purchase_data["Purchase ID"].count()
pat_totalrev=purchase_data["Price"].sum()
pat_summary_df = pd.DataFrame({"Num. Unique Items" : [pat_numunique],
                           "Avg. Purchase Price" : [pat_avgpurch], 
                           "Total Num. Purchases" : [pat_totalnumpurch],
                           "Total Revenue" : [pat_totalrev]})

pat_summary_df.style.format({'Avg. Purchase Price' : "${:.2f}",
                             'Total Revenue' : "${:.2f}"})

####WHY DO I HAVE TO USE BRACKETS FOR THIS DF?####
####WHY IS THIS FORMAT NOT WORKING?####

pat_summary_df

   Num. Unique Items  Avg. Purchase Price  Total Num. Purchases  Total Revenue
0                179             3.050987                   780        2379.77

# Gender Demographics

In [46]:
#Gender Demographics
#Percentage and Count of Male Players YOU HAVE TO COUNT UNIQUE # MALE PLAYERS - COMBINE SN (unique ID) and GENDER!
#SHOULD BE males 484 (84.02%), females 81 (14.06%), other 11 (1.90%)
#Percentage and Count of Female Players
#Percentage and Count of Other / Non-Disclosed
#Create summary DF 
gd_gender=purchase_data.groupby("Gender")
gd_gender_count=gd_gender["SN"].nunique()
gd_pct_players=gd_gender_count/player_count *100
gd_summary_df = pd.DataFrame({"Total Count" : gd_gender_count, 
                             "Perct. Players" : gd_pct_players})
gd_summary_df.index.name = None
gd_summary_df.style.format({"Perct. Players" : "{:.2f}%"})

####WHY DO I HAVE TO NOT USE BRACKETS FOR THIS DF?####
####WHY IS FORMAT NOT WORKING FOR % OR ASCENDING?###

gd_summary_df.sort_values(["Total Count"], ascending = False)
gd_summary_df

                       Total Count  Perct. Players
Female                          81       14.062500
Male                           484       84.027778
Other / Non-Disclosed           11        1.909722

# Purchasing Analysis (Gender)

In [39]:
#Purchasing Analysis (Gender):
#The below each broken by gender:
    #Purchase Count (should be male 652, female 113, other 15)
    #Average Purchase Price (should be male 3.20, female 3.17, other 3.35)
    #Total Purchase Value (should be male 1967.64, female 361.94, other 50.19)
    #Average Purchase Total per Person by Gender (should be male 4.07, female 4.47, other 4.56)
    #Create summary DF 
pag_purchase_count = gd_gender["Purchase ID"].count()
pag_avgpurch = gd_gender["Price"].mean()
pag_totalrev=gd_gender["Price"].sum()
pag_avgtotal=pag_totalrev/gd_gender_count
pag_summary_df = pd.DataFrame({"Purchase Count" : })

Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

# Age Demographics

In [ ]:
#Age Demographics
#Create the age bins  broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.) (hint: use pd.cut()
#Number and percentage by age group
#Optional: round % col to 2 decimal places
#Create summary DF

# Purchasing Analysis: Age

In [ ]:
#The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.):
    #Purchase Count
    #Average Purchase Price
    #Total Purchase Value
    #Average Purchase Total per Person by Age Group
    #Create summary DF

# Top Spenders

In [ ]:
#Top Spenders
#Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
    #SN
    #Purchase Count
    #Average Purchase Price
    #Total Purchase Value
    #Optional: better formatting
    #Create summary DF

# Most Popular Items

In [ ]:
#Most Popular Items
#Identify the 5 most popular items by purchase count, then list (in a table):
    #Item ID
    #Item Name
    #Purchase Count
    #Item Price
    #Total Purchase Value
  #Create summary DF

#Most Profitable Items

In [ ]:
#Most Profitable Items
#Identify the 5 most profitable items by total purchase value, then list (in a table):
    #Item ID
    #Item Name
    #Purchase Count
    #Item Price
    #Total Purchase Value