In [19]:
# Dependencies and Setup
import pandas as pd
import numpy as np

In [20]:
# File to Load (Remember to Change These)
file_to_load = "C:\\Users\\USER\\Desktop\\pandas-challenge\\Resources HerosOfPymoli\\04-Pandas_Homework_Instructions_HeroesOfPymoli_Resources_purchase_data.csv"

In [21]:
# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

# Player Count

In [105]:
# Count total Number of Players should be 780
#Create summary DF 
#PURCHASE_DATA IS ALREDY A DF B/C IT READ IN AS ONE
player_count=purchase_data["SN"].nunique()
player_count_df = pd.DataFrame({"Player Count" : [player_count]})
player_count_df
player_count_df.style.hide_index()

# Purchasing Analysis (Total)

In [106]:
#Purchasing Analysis (Total): 
#Number of Unique Items should be 179
#Average Purchase Price should be 3.05
#Total Number of Purchases should be 780
#Total Revenue should be 2379.77
#Create summary DF 
pat_numunique=purchase_data["Item ID"].nunique()
pat_avgpurch=purchase_data["Price"].mean()
pat_totalnumpurch=purchase_data["Purchase ID"].count()
pat_totalrev=purchase_data["Price"].sum()
pat_summary_df = pd.DataFrame({"Num. Unique Items" : [pat_numunique],
                           "Avg. Purchase Price" : [pat_avgpurch], 
                           "Total Num. Purchases" : [pat_totalnumpurch],
                           "Total Revenue" : [pat_totalrev]})

pat_summary_df["Avg. Purchase Price"]=pat_summary_df["Avg. Purchase Price"].map("${:,.2f}".format)
pat_summary_df["Total Revenue"]=pat_summary_df["Total Revenue"].map("${:,.2f}".format)
pat_summary_df
pat_summary_df.style.hide_index()

# Gender Demographics

In [109]:
#Gender Demographics
#Percentage and Count of Male Players YOU HAVE TO COUNT UNIQUE # MALE PLAYERS - COMBINE SN (unique ID) and GENDER!
#SHOULD BE males 484 (84.02%), females 81 (14.06%), other 11 (1.90%)
#Percentage and Count of Female Players
#Percentage and Count of Other / Non-Disclosed
#Create summary DF 
gd_gender=purchase_data.groupby("Gender")
gd_gender_count=gd_gender["SN"].nunique()
gd_pct_players=gd_gender_count/player_count *100
gd_summary_df = pd.DataFrame({"Total Count" : gd_gender_count, 
                             "Perct. Players" : gd_pct_players})
gd_summary_df.index.name = None
gd_summary_df["Perct. Players"]=gd_summary_df["Perct. Players"].map("{:.2f}%".format)
gd_summary_df.sort_values(["Total Count"], ascending = False)

                       Total Count Perct. Players
Male                           484         84.03%
Female                          81         14.06%
Other / Non-Disclosed           11          1.91%

# Purchasing Analysis (Gender)

In [102]:
#Purchasing Analysis (Gender):
#The below each broken by gender:
    #Purchase Count (should be male 652, female 113, other 15)
    #Average Purchase Price (should be male 3.20, female 3.17, other 3.35)
    #Total Purchase Value (should be male 1967.64, female 361.94, other 50.19)
    #Average Purchase Total per Person by Gender (should be male 4.07, female 4.47, other 4.56)
    #Create summary DF 
pag_purchase_count = gd_gender["Purchase ID"].count()
pag_avgpurch = gd_gender["Price"].mean()
pag_totalrev=gd_gender["Price"].sum()
pag_avgtotal=pag_totalrev/gd_gender_count
pag_summary_df = pd.DataFrame({"Purchase Count" : pag_purchase_count, 
                              "Avg. Purchase Price" : pag_avgpurch, 
                              "Total Purchase Value" : pag_totalrev, 
                              "Avg. Total Purchase Per Person" : pag_avgtotal})

pag_summary_df["Avg. Purchase Price"]=pag_summary_df["Avg. Purchase Price"].map("${:,.2f}".format)
pag_summary_df["Total Purchase Value"]=pag_summary_df["Total Purchase Value"].map("${:,.2f}".format)
pag_summary_df["Avg. Total Purchase Per Person"]=pag_summary_df["Avg. Total Purchase Per Person"].map("${:,.2f}".format)
pag_summary_df.sort_values(by="Purchase Count", ascending = False)

,Purchase Count,Avg. Purchase Price,Total Purchase Value,Avg. Total Purchase Per Person
Male,652,$3.02,"$1,967.64",$4.07
Female,113,$3.20,$361.94,$4.47
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

# Age Demographics

In [114]:
#Age Demographics
#Create the age bins  broken into bins of 4 years(use pd.cut())
#Number and percentage by age group
#Optional: round % col to 2 decimal places
#Create summary DF  
age_bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 45]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
purchase_data["Age Group"]=pd.cut(purchase_data["Age"], age_bins, labels=group_names)

purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,92,Final Critic,4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24

# Purchasing Analysis: Age

In [ ]:
#The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.):
    #Purchase Count
    #Average Purchase Price
    #Total Purchase Value
    #Average Purchase Total per Person by Age Group
    #Create summary DF

# Top Spenders

In [ ]:
#Top Spenders
#Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
    #SN
    #Purchase Count
    #Average Purchase Price
    #Total Purchase Value
    #Optional: better formatting
    #Create summary DF

# Most Popular Items

In [ ]:
#Most Popular Items
#Identify the 5 most popular items by purchase count, then list (in a table):
    #Item ID
    #Item Name
    #Purchase Count
    #Item Price
    #Total Purchase Value
  #Create summary DF

#Most Profitable Items

In [ ]:
#Most Profitable Items
#Identify the 5 most profitable items by total purchase value, then list (in a table):
    #Item ID
    #Item Name
    #Purchase Count
    #Item Price
    #Total Purchase Value